<div style="height: 100vh; background-color: rgb(0, 0, 0);">
  <header style="background-color: rgb(0, 0, 0); padding: 20px;">
    <h1 class="ion-text-center" style="color: rgb(255, 255, 255);">Eventos</h1>
  </header>
  <br>
  <form [formGroup]="evento" (ngSubmit)="nEvento()">
    <ion-item>
      <ion-label>Nombre:</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>
    <ion-label color="danger" *ngIf="evento.controls.nombre.errors?.['required'] && (evento.touched || evento.dirty)">* El nombre es obligatorio </ion-label>
    <ion-item>
      <ion-label>Fecha inicio:</ion-label>
      <ion-input formControlName="fecha_i" type="datetime-local"></ion-input>
    </ion-item>
    <ion-label color="danger" *ngIf="evento.controls.fecha_i.errors?.['required'] && (evento.touched || evento.dirty)">* La fecha de inicio es obligatoria </ion-label>
    <ion-item>
      <ion-label>Fecha fin:</ion-label>
      <ion-input formControlName="fecha_f" type="datetime-local"></ion-input>
    </ion-item>
    <ion-label color="danger" *ngIf="evento.controls.fecha_f.errors?.['required'] && (evento.touched || evento.dirty)">* La fecha de fin es obligatoria </ion-label>
    <ion-item>
      <ion-label>Ubicacion:</ion-label>
      <ion-input formControlName="ubicacion"></ion-input>
    </ion-item>
    <ion-label color="danger" *ngIf="evento.controls.ubicacion.errors?.['required'] && (evento.touched || evento.dirty)">* La ubicacion es obligatoria </ion-label>
    <ion-item>
      <ion-label>Nombre de encargado:</ion-label>
      <ion-input formControlName="nombreE"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Teléfono de encargado:</ion-label>
      <ion-input formControlName="telefonoE" type="number"></ion-input>
    </ion-item>
    <p class="ion-text-center">
      <ion-button type="submit" [disabled]="!evento.valid">Añadir evento</ion-button>
    </p>
 </form>
    <br><br><br>
    <div class="container" style="background-color: rgb(141, 141, 141);">
      <table style="width: 100%; border-collapse: collapse;">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Ubicación</th>
            <th>Nombre de Encargado</th>
            <th>Teléfono de Encargado</th>
            <th>Confirmación</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let evento of eventos" [ngClass]="{'confirmado': evento.confirmacion, 'noConfirmado': !evento.confirmacion}">
            <td><b>{{ evento.nombre }}</b></td>
            <td>{{ evento.fecha_i }}</td>
            <td>{{ evento.fecha_f }}</td>
            <td>{{ evento.ubicacion }}</td>
            <td>{{ evento.nombreE }}</td>
            <td>{{ evento.telefonoE }}</td>
            <td>
              <ion-checkbox [(ngModel)]="evento.confirmacion" style="width: 140px;"></ion-checkbox>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>